
/* Dropdown styles  */
.rw-dropdown-list.rw-widget > .rw-widget-input.rw-widget-picker.rw-widget-container{
  border: solid 1px #d0d0d0;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Roboto';
  box-shadow: none;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

/* Search field  */
.rw-filter-input.rw-input.rw-widget-picker.rw-widget-container {
  padding-right: 0.5em;
}

.rw-i.rw-i-search {
  top: -2px;
  position: relative;
}