
.studentDetailText {
    margin-bottom: 10px;
    font-weight: 400;
    font-weight: 400;
    color: #545454;
}

.sectionContainer {
    text-align: left;
    margin-top: 6px;
    margin-bottom: 22px;
}

.sectionContainer div {
    overflow-y: initial !important;
}

.studentDetailHeader {
font-weight: bold;
}