
.clock_0_50 {
    color: #7DD226;
}

.clock_51_75 {
    color: #F8E622;
}

.clock_76_100 {
    color: #CF0921;
}

.clock {
    padding-right: 10px;
    font-size: 20px;
    position: relative;
    top: 3px;
}

.applicantsContainer {
    /* margin-top: 26px; */
    font-size: 14px;
    text-align: left;
    /* padding-left: 16px; */
    padding-left: 4px;
    margin-top: 6px;
}