
.contactInfoSection {
    margin-bottom: 33px;
    margin-top: 6px;
    text-align: left;
}

.contactInfoListItem {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: space-between;
    margin-bottom: 10px;
}

.contactInfoListItemLeft {
font-weight: bold;
}

.contactInfoListItemRight {
    font-weight: 400;
    color: #545454;
}

.presentInfo {
    cursor: pointer;
    color: #007ce6;
    font-weight: 400;
}