
.sectionHeader {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.sectionContainer {
    /* margin-bottom: 44px;
    margin-top: 8px; */
}

.sectionContainer div {
    overflow-y: initial !important;
}


.studentDetailHeader {
        font-weight: bold;
}

.answerText {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
}