/*TODO: Refine
 *         - Find all css names that are repeated
 *         - Place all repeated css in index.css in this folder
 *
 * */

.pageContainer {
	width: 1000px;
	text-align: center;
	margin: auto;
	margin-top: 4%;
	margin-bottom: 3%;
	/* For Safari */
	display: -webkit-flex;
	-webkit-flex-direction: row;

	/* Chrome */
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
}


.cardContainer {
	list-style: none;
	margin: 10px;
	padding: 0px;
	align-items: flex-start;
	width: 300px;
	padding-left: 15px;
	padding-right: 15px;
}

.card {
	display: block;
	text-align: center;
	width: 100%;
	color: #6a7180;
	background: #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top: 4px solid #55B1E2;

	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.cardHeader {
	text-transform: uppercase;
	background-color: rgba(85,177,226,.05);
	font-size: 11px;
	padding-top: .09px;
	padding-bottom: .09px;
	font-weight: 600;
}

.jobTitleContainer {
	height: 70px;
}

.jobTitle {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.25;
	margin:0;
	position: relative;
	top 50%
	transform: translate(-50%);
	padding-top: 20px;
}

.industryTitle {
	color: #229AD6;
	padding: 8px 20px;
	background: #FFF;
	border: 1px solid rgba(34,154,214,.25);
	border-radius: 20px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0 0 20px;
	display: inline-block;
}

.tagContainer {
	list-style: none;
	display: flex;
	text-align: left;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	padding-left: 0;
	padding-bottom: 0;
	height: 58px;
	overflow: hidden;
	flex-wrap: wrap;
}


.tagElement {
	margin-bottom: 6px;
	background-color: rgba(0, 0, 0, .025);
	border-radius: 3px;
	color: #6a7180;
	line-height: 1.2;
	padding: 3px 10px;
	font-size: 13px;
	border: 1px solid #F0F1F3;
	vertical-align: top;
	margin-right: 4px;
	width: calc(35% - 6px);
}

.companyContainer {
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 100%;
	flex-wrap: wrap;
	padding: 20px;
	height: 50px;
	clear: both;
	cursor: default;
}

.companyInfoContainer {
	list-style: none;
	text-align: left;
	padding-left: 20px;
}

.companyTitle {
	display: inline-block;
	vertical-align: top;
	margin: 7px 0 0;
	font-size: 16px;
}

.applyButton {
	background-color: #229AD6;
	border: none;
	color: white;
        padding: 15px 32px;
	width: 100%;
        text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.cardModalContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 85%;
	flex-wrap: wrap;
	align-items: flex-start;
}

.cardModalHeader {
	height: 80px;
	box-shadow: 0 3px 2px -2px rgba(0,0,0,.1);
	cursor: default;
	text-align: center;
}

.jobModalTitle {
	font-size: 16px;
}

.jobModalIndustry {
	color: #229AD6;
	padding: 8px 20px;
	background: #FFF;
	line-height: 1;
	border: 1px solid rgba(34, 154, 214, .25);
	border-radius: 11px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0 0 20px;
	display: inline-block;
}


.cardModalBodyLeft {
	width: 50%;
}

.cardModalBodyRight {
	width: 50%;
}

.cardModalScroll {
	overflow: scroll;
	height: 54vh;
}

.cardModalFooter {
	box-shadow: 0px -2px 0px 0px rgba(0,0,0,.1)
}

.image {
	padding-top: 2.5px;
}

.questionHeader {
	font-size: 13px;
}


.pageMainJobCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.crop {
	width: 64px;
  height: 64px;
  overflow: hidden;
}

.crop img {
  width: 64px;
  height: 64px;
}
