.calendarContainer {
    display: flex;
        margin-bottom: 8px;
}

.calendar {
        padding-left: 3px;
    padding-right: 14px;
    font-size: 17px;
    /* background-color: #7b7bd8; */
    color: #1e9ae3;
}