/*NOTE:
 *  - Media queries found below
 *  - New code has not been tested using Safari or Edge
 *  - Porting from index to specific component not been tested
 *  - CSS modules id's are unknown to me  at this moment
 *
 *  */

 
/*New Css*/
.container {
    background-color: #333C44;
    text-align: left;
}

.bottomStrip {
    background-color: #333C44;
    padding: 1em;
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10em;
    padding-right: 10em;
}

.bottomStrip > div {
    padding-right: 2em;
    cursor: pointer;
}

.linksContainer {
    color: whitesmoke;
        display: flex;
    font-size: 16px;
    align-items: flex-start;
    padding: 4em;
        flex-direction: row;
            padding-left: 10em;
    padding-right: 10em;
}

.menuSection {
    display: flex;
    flex-direction: column !important;
    padding-right: 4em;
}

.menuHeader {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 11px;
}

.menuItem {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.socialLinksContainer {
        display: flex;
    flex-direction: row;
}

.socialLink {
background: #2b2b2b;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    padding: 8px;
    display: block;
    margin-right: 7px;
    
}

.image {

    padding-left: 9px;
    padding-top: 7px;

}

.linksContainer > section {
    display: flex;
    flex-direction: row;
}

@media (max-width: 850px) {
    .linksContainer {
    padding: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
    }

    .menuSection {
        width: 100%;
        padding: 0;
        padding-top: 2em;
    }

    .menuSection:nth-of-type(1) {
        padding-top:0px;
    }

    .linksContainer > section {
        width: 50%;
        display: block;
        flex-direction: unset;
    }

    .socialLinksContainer {
        padding-top: 2em;
    }

    .bottomStrip {
            padding: 1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    }
}