
.paidJobContainer {
    /* margin-top: 26px; */
    font-size: 14px;
    text-align: left;
    /* padding-left: 16px; */
    padding-left: 4px;
}
.moneyIcon {
    padding-left: 3px;
    padding-right: 14px;
    font-size: 17px;
    /* background-color: #7b7bd8; */
    color: #13cf10;
}

