
.skillsTags {
font-size: 12px;
    line-height: 14px;
    padding: 8px;
    font-weight: bold;
    display: inline-block;
    background-color: #cff0ff;
    color: #004c79;
    margin-right: 6px;
    margin-bottom: 6px;
    border-radius: 2px;
    text-transform: uppercase;
}

.skillsContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.skillsTagContainer {
    max-height: 250px;
    overflow-y: scroll;
}

.skillsHeader {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 9px;
}

.messagesType {
    margin-top: 15px;
    overflow-y: unset;
}