.experienceHobbiesEtc {
    text-align: left;
    /* height: 111px; */
    margin-top: 10px;
}

.listItemContainer {
display: flex;
    flex-direction: row;
    margin-bottom: 6px;
    font-size: 14px;
    /* margin-bottom: 10px; */
    /* font-weight: 400; */
    /* font-weight: 400; */
    color: #545454;
}

.itemIcon {
  height: 24px;
  width: 24px;
  margin-right: 10px;

}
.itemIconGPA {
      color: #007AC1;
    font-size: 14px;
    padding-top:1px;
    text-align: center;
}

.languagesItemIcon {
      height: 27px;
    width: 24px;
    margin-right: 5px;
    color: #007AC1;
    padding-left: 5px;
    padding-top: 4px;
}