link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
style
  include css/app.css
body
  .container
    .logo-container
      img(src="https://univjobs.ca/static/u-logo.4bc69dc3.png")

    .container-inner
      h1.title Verify your email
      p You're almost done getting set up.
      a(class='button' href=verificationLink) Click here
    
    .footer
      p From the Univjobs team
