link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
style
  include css/app.css
body
  .container
    .logo-container
      img(src="https://univjobs.ca/static/u-logo.4bc69dc3.png")

    .container-inner
      h1.title Hey, #{studentName}
      p Good news! 
      p An employer from #{companyName} just began reviewing your application for the "#{jobTitle}' job posting.
      p If they're interested in chatting with you, they may reach out to you directly or send you a message in app.
      p Remember to check your messages often!
      a(class='button' href=link) Check messages
    
    .footer
      p Good luck!
      p From Charles and the Univjobs team