link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
style
  include css/app.css
body
  .container
    .logo-container
      img(src="https://univjobs.ca/static/u-logo.4bc69dc3.png")

    .container-inner
      h1.title Hey, #{studentName}
      p Wonderful news! You've been hired for the position of #{positionName} at #{companyName}!
      img(src="https://cdn-images-1.medium.com/max/800/1*YXzKdx2lBgdt7si4j21srA.gif" style="height: 313px;")
      p We are stoked for you that you got a job through UnivJobs. 
      p Someone at #{companyName} will be emailing you the next steps to help you onboard to their team.
      p In the future, we want to make this process much easier for both you and the employer. 
      | If you have any feedback about your experience and how we can improve, please contact us at contact@univjobs.ca or call us at 647-779-8525. 
      p We would love to listen to what you have to say!
    
    .footer
      p Congratulations again!
      p From Charles and the Univjobs team