link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
style
  include css/app.css
body
  .container
    .logo-container
      img(src="https://univjobs.ca/static/u-logo.4bc69dc3.png")

    .container-inner
      h1.title Hey, #{employerName}
      p Your job posting '#{jobTitle}', was just closed a moment ago.
      p If you believe this email was sent in error or your didn't close your job, don't hesitate to get in contact with us.
    
    .footer
      p Thanks for using our platform,
      p From Charles and the Univjobs team