link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
style
  include css/app.css
body
  .container
    .logo-container
      img(src="https://univjobs.ca/static/u-logo.4bc69dc3.png")

    .container-inner
      h1.title Hey, #{studentName}
      p Since you applied to #{jobTitle} at #{companyName}, we just wanted to let you know that the employer just manually
      | closed their job posting.
      p Jobs close for a variety of reasons (budget changes, layoffs, etc). Sorry if you were looking forward to getting that one.
    
    .footer
      p Keep applying!
      p From Charles and the Univjobs team