link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
style
  include css/app.css
body
  .container
    .logo-container
      img(src="https://univjobs.ca/static/u-logo.4bc69dc3.png")

    .container-inner
      h1.title Hey, #{employerName}
      p We screen all of our job postings before they are released into the Univjobs app in order to ensure that students aren't taken advantage of 
      | and to unhold the integrity of the opportunities provided.
      p There was a problem with your job posting, "#{jobTitle}".
      p Please do not hesitate to contact us if you believe something is wrong.
    
    .footer
      p Regards,
      p From Charles and the Univjobs team