link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
style
  include css/app.css
body
  .container
    .logo-container
      img(src="https://univjobs.ca/static/u-logo.4bc69dc3.png")

    .container-inner
      h1.title Password reset
      p You are receiving this because you (or someone else) has requested the reset of the password for your account.
      p Click the link to complete changing your password.
      a(class='button' href=resetLink) Change password
      p The password reset code will expire in 30 minutes.
      p If you did not request this, please ignore this email and your account will remain unchanged.
    
    .footer
      p From the Univjobs team