link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
style
  include css/app.css
body
  .container
    .logo-container
      img(src="https://univjobs.ca/static/u-logo.4bc69dc3.png")

    .container-inner
      h1.title Hey, #{studentName}
      p We're sorry to inform you that the employer has decided to go with another candidate for the #{positionName} position at #{companyName}.
      p Don't get discouraged, we're sure there is another job out there for you that you are the perfect fit for.
      a(class='button' href=link) View applicant
    
    .footer
      p Keep applying!
      p From Charles and the Univjobs team